/*

#nav .menu,
#header,
#wrapper_box, 
#footer {
	margin: 0 auto; width: 960px;
}
#content_box {
	float: left;
	width: 590px;
}

#sidebar-1 {
	float: right; margin-left: 5px;
	width: 190px;
}
#sidebar-2 {
	float: right; margin-left: 5px;
	width: 150px;
}
*/